html {font-size: 1.5rem}


body {
    background-color: #f1f4efed;

  }
  h1 {
    font-family: "PT Serif", serif;
    font-size: 34px;
text-shadow: 3px 3px 3px #ababab;
}

  h2 { 
    color: rgb(60, 140, 38);
      font-family: "PT Serif", serif;
      font-size: 28px;
  }

  h3 {
    font-family: "PT Serif", serif;
    font-size: 28px;
}
p {font-family: "PT Serif", serif;
  font-size: .75rem}
  
  ul {font-family: "PT Serif", serif;
    font-size: .75rem}

    figure {font-family: "PT Serif", serif;
      font-size: .75rem}
   
    /* Thiese are the fonts I am using for my headings */

    nav ul {
      padding-left: 0;
  }
  nav ul li {
     
      background-color: black;
      display: inline;
      margin: 1em 0;
       /* same on all sides; */
      padding: 1em;
      padding-left: .50em;
      border:1em#0f9b55;
      text-align: center;
  }
  nav ul li a {
      color: white;
      /* same on all sides; */
      padding: 1em;
      border:1em#0f9b55;
      text-align: center;
      text-decoration: none;
  }
  
  